body{
background:#f5f5f5;
}

section{
background:white;
padding:24px;
border-radius:16px;
margin-bottom:20px;

box-shadow:
0 2px 12px rgba(0,0,0,.08);
}

.skill{
background:#6750a4;
color:white;
padding:8px 14px;
border-radius:20px;
}
